body {
    -webkit-user-select: none;
    /* Safari */
    -ms-user-select: none;
    /* IE 10 and IE 11 */
    user-select: none;
    /* Standard syntax */
}

body::-webkit-scrollbar {
    display: none;
}

.shiny-hover {
    transition: 300ms;
    transition-timing-function: ease;
}

.shiny-hover:hover {
    box-shadow: inset 0px 0px 20px rgba(255, 255, 255, 0.534);
}

.wrapper {
    backdrop-filter: blur(15px) brightness(70%);
    min-height: 100vh;
}

.background-image {
    background-image: url("assets/background.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}