body {
    background-image: url('./assets/background.png');
    background-blend-mode: overlay;
    background-repeat: repeat-y;
    background-position: center;
    backdrop-filter: blur(5px);
    -webkit-user-select: none;
    /* Safari */
    -ms-user-select: none;
    /* IE 10 and IE 11 */
    user-select: none;
    /* Standard syntax */
}

body.full {
    background-size: cover;
}

body.fit {
    background-size: contain;
}

body::-webkit-scrollbar {
    display: none;
}

.shiny-hover {
    transition: 300ms;
    transition-timing-function: ease;
}

.shiny-hover:hover {
    box-shadow: inset 0px 0px 20px rgba(255, 255, 255, 0.534);
}

.fit.wrapper {
    height: fit-content
}

.full.wrapper {
    height: 100vh
}